aniso8601==9.0.1
astor==0.8.1
astunparse==1.6.3
click==8.0.4
colorama==0.4.4
commonmark==0.9.1
Flask==2.0.3
Flask-RESTful==0.3.9
graphviz==0.19
itsdangerous==2.1.0
Jinja2==3.0.3
MarkupSafe==2.1.0
munkres==1.1.4
numpy==1.22.2
Pillow==9.0.1
Pygments==2.11.2
pytz==2021.3
rich==11.2.0
six==1.16.0
staticfg==0.9.5
typing-extensions==3.7.4.3
Werkzeug==2.0.3
XlsxWriter==3.0.2
